In [6]:
import pandas as pd
from scipy.interpolate import lagrange  # 导入拉格朗日插值函数
inputFile = './chapter4/demo/data/catering_sale.xls'  # 餐厅销量数据
outputFile = './sales.xls'  # 结果数据

In [7]:
data = pd.read_excel(inputFile)
# data['销量'][(data['销量'] < 400) | (data['销量'] > 5000)] = None  # 过滤异常值，并赋值 None，这是书上的写法
data.loc[(data['销量'] < 400) | (data['销量'] > 5000), '销量'] = None
data.head()

          日期      销量
0 2015-03-01     NaN
1 2015-02-28  2618.2
2 2015-02-27  2608.4
3 2015-02-26  2651.9
4 2015-02-25  3442.1

In [ ]:
# data[(data['销量'] < 400) | (data['销量'] > 5000)]['销量'] = 2  # 这样为什么不行？？
# data

In [8]:
# 自定义列向量插值函数
# s 为列向量， n 为被插值的位置， k 为取前后的数据个数
def ployinterp_column(s, n, k=5):
    y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))]    # 取数
    y = y[y.notnull()]                                      # 丢弃空值
    return lagrange(y.index, list(y))(n)                    # 插值并返回插值结果

In [24]:
# 逐个元素判断是否需要插值
# for i in data.columns:
#     for j in range(len(data)):
#         if (data[i].isnull())[j]:  # 如果为空则插值
#             data[i][j] = ployinterp_column(data[i], j)

for i in data.values:
    if i[1].isnul

[Timestamp('2015-03-01 00:00:00') nan]
[Timestamp('2015-02-28 00:00:00') 2618.2]
[Timestamp('2015-02-27 00:00:00') 2608.4]
[Timestamp('2015-02-26 00:00:00') 2651.9]
[Timestamp('2015-02-25 00:00:00') 3442.1]
[Timestamp('2015-02-24 00:00:00') 3393.1]
[Timestamp('2015-02-23 00:00:00') 3136.6]
[Timestamp('2015-02-22 00:00:00') 3744.1]
[Timestamp('2015-02-21 00:00:00') nan]
[Timestamp('2015-02-20 00:00:00') 4060.3]
[Timestamp('2015-02-19 00:00:00') 3614.7]
[Timestamp('2015-02-18 00:00:00') 3295.5]
[Timestamp('2015-02-16 00:00:00') 2332.1]
[Timestamp('2015-02-15 00:00:00') 2699.3]
[Timestamp('2015-02-14 00:00:00') nan]
[Timestamp('2015-02-13 00:00:00') 3036.8]
[Timestamp('2015-02-12 00:00:00') 865.0]
[Timestamp('2015-02-11 00:00:00') 3014.3]
[Timestamp('2015-02-10 00:00:00') 2742.8]
[Timestamp('2015-02-09 00:00:00') 2173.5]
[Timestamp('2015-02-08 00:00:00') 3161.8]
[Timestamp('2015-02-07 00:00:00') 3023.8]
[Timestamp('2015-02-06 00:00:00') 2998.1]
[Timestamp('2015-02-05 00:00:00') 2805.9]
[Timestamp('2015-02-04 00:00:00') 2383.4]
[Timestamp('2015-02-03 00:00:00') 2620.2]
[Timestamp('2015-02-02 00:00:00') 2600.0]
[Timestamp('2015-02-01 00:00:00') 2358.6]
[Timestamp('2015-01-31 00:00:00') 2682.2]
[Timestamp('2015-01-30 00:00:00') 2766.8]
[Timestamp('2015-01-29 00:00:00') 2618.8]
[Timestamp('2015-01-28 00:00:00') 2714.3]
[Timestamp('2015-01-27 00:00:00') 2280.8]
[Timestamp('2015-01-26 00:00:00') 2414.0]
[Timestamp('2015-01-25 00:00:00') 3130.6]
[Timestamp('2015-01-24 00:00:00') 2716.9]
[Timestamp('2015-01-23 00:00:00') 2930.8]
[Timestamp('2015-01-22 00:00:00') 2504.9]
[Timestamp('2015-01-21 00:00:00') 2559.5]
[Timestamp('2015-01-20 00:00:00') 2168.6]
[Timestamp('2015-01-19 00:00:00') 2436.4]
[Timestamp('2015-01-18 00:00:00') 3234.3]
[Timestamp('2015-01-17 00:00:00') 3061.0]
[Timestamp('2015-01-16 00:00:00') 2900.1]
[Timestamp('2015-01-15 00:00:00') 2646.8]
[Timestamp('2015-01-14 00:00:00') 2615.2]
[Timestamp('2015-01-13 00:00:00') 2124.4]
[Timestamp('2015-01-12 00:00:00') 1958.0]
[Timestamp('2015-01-08 00:00:00') 2259.1]
[Timestamp('2015-01-07 00:00:00') 2419.8]
[Timestamp('2015-01-06 00:00:00') 2775.0]
[Timestamp('2015-01-05 00:00:00') 2594.9]
[Timestamp('2015-01-04 00:00:00') 2468.3]
[Timestamp('2015-01-03 00:00:00') 3004.3]
[Timestamp('2015-01-02 00:00:00') 3313.3]
[Timestamp('2015-01-01 00:00:00') 3613.6]
[Timestamp('2014-12-31 00:00:00') 2655.9]
[Timestamp('2014-12-30 00:00:00') 2644.3]
[Timestamp('2014-12-29 00:00:00') 2565.3]
[Timestamp('2014-12-27 00:00:00') 2525.9]
[Timestamp('2014-12-26 00:00:00') 2778.0]
[Timestamp('2014-12-25 00:00:00') 2542.1]
[Timestamp('2014-12-24 00:00:00') 2473.3]
[Timestamp('2014-12-23 00:00:00') 2240.1]
[Timestamp('2014-12-22 00:00:00') 2575.0]
[Timestamp('2014-12-21 00:00:00') 3802.8]
[Timestamp('2014-12-18 00:00:00') 2274.7]
[Timestamp('2014-12-17 00:00:00') 2687.2]
[Timestamp('2014-12-16 00:00:00') 2577.8]
[Timestamp('2014-12-15 00:00:00') 2583.0]
[Timestamp('2014-12-14 00:00:00') 3282.6]
[Timestamp('2014-12-13 00:00:00') 3113.7]
[Timestamp('2014-12-12 00:00:00') 2661.4]
[Timestamp('2014-12-11 00:00:00') 2553.2]
[Timestamp('2014-12-10 00:00:00') 2511.3]
[Timestamp('2014-12-09 00:00:00') 2710.3]
[Timestamp('2014-12-08 00:00:00') 2468.1]
[Timestamp('2014-12-07 00:00:00') 3041.5]
[Timestamp('2014-12-06 00:00:00') 3178.9]
[Timestamp('2014-12-05 00:00:00') 2594.4]
[Timestamp('2014-12-04 00:00:00') 2381.1]
[Timestamp('2014-12-03 00:00:00') 2415.0]
[Timestamp('2014-12-02 00:00:00') 2236.4]
[Timestamp('2014-11-30 00:00:00') 3207.2]
[Timestamp('2014-11-29 00:00:00') 3059.5]
[Timestamp('2014-11-28 00:00:00') 3039.1]
[Timestamp('2014-11-26 00:00:00') 2817.5]
[Timestamp('2014-11-25 00:00:00') 2891.8]
[Timestamp('2014-11-24 00:00:00') 2470.1]
[Timestamp('2014-11-23 00:00:00') 3556.6]
[Timestamp('2014-11-22 00:00:00') 3397.7]
[Timestamp('2014-11-20 00:00:00') 2761.6]
[Timestamp('2014-11-19 00:00:00') 2618.2]
[Timestamp('2014-11-18 00:00:00') 2758.3]
[Timestamp('2014-11-17 00:00:00') 2614.3]
[Timestamp('2014-11-16 00:00:00') 3437.1]
[Timestamp('2014-11-15 00:00:00') 3250.0]
[Timestamp('2014-11-14 00:00:00') 3063.7]
[Timestamp('2014-11-13 00:00:00') 2839.2]
[Timestamp('2014-11-12 00:00:00') 2360.9]
[Timestamp('2014-11-11 00:00:00') 2158.5]
[Timestamp('2014-11-10 00:00:00') 2005.5]
[Timestamp('2014-11-09 00:00:00') 3236.4]
[Timestamp('2014-11-08 00:00:00') nan]
[Timestamp('2014-11-07 00:00:00') 2452.6]
[Timestamp('2014-11-06 00:00:00') 2265.0]
[Timestamp('2014-11-05 00:00:00') 2566.1]
[Timestamp('2014-11-04 00:00:00') 2527.2]
[Timestamp('2014-11-03 00:00:00') 2326.5]
[Timestamp('2014-11-02 00:00:00') 2941.9]
[Timestamp('2014-11-01 00:00:00') nan]
[Timestamp('2014-10-31 00:00:00') 2520.9]
[Timestamp('2014-10-30 00:00:00') 2446.2]
[Timestamp('2014-10-29 00:00:00') 2549.4]
[Timestamp('2014-10-28 00:00:00') 2449.3]
[Timestamp('2014-10-27 00:00:00') 2162.5]
[Timestamp('2014-10-26 00:00:00') 2781.3]
[Timestamp('2014-10-25 00:00:00') 3060.6]
[Timestamp('2014-10-24 00:00:00') 2064.0]
[Timestamp('2014-10-22 00:00:00') 2439.7]
[Timestamp('2014-10-21 00:00:00') 2476.2]
[Timestamp('2014-10-20 00:00:00') 2478.3]
[Timestamp('2014-10-19 00:00:00') 2826.2]
[Timestamp('2014-10-18 00:00:00') 2924.8]
[Timestamp('2014-10-17 00:00:00') 2417.5]
[Timestamp('2014-10-16 00:00:00') 2450.1]
[Timestamp('2014-10-15 00:00:00') 2533.0]
[Timestamp('2014-10-14 00:00:00') 2238.7]
[Timestamp('2014-10-13 00:00:00') 2388.8]
[Timestamp('2014-10-12 00:00:00') 3291.3]
[Timestamp('2014-10-11 00:00:00') 2738.8]
[Timestamp('2014-10-10 00:00:00') 2344.1]
[Timestamp('2014-10-09 00:00:00') 2068.8]
[Timestamp('2014-10-08 00:00:00') 3185.3]
[Timestamp('2014-10-07 00:00:00') 2778.6]
[Timestamp('2014-10-06 00:00:00') 2921.1]
[Timestamp('2014-10-05 00:00:00') 2524.3]
[Timestamp('2014-10-04 00:00:00') 3057.1]
[Timestamp('2014-10-03 00:00:00') 3039.6]
[Timestamp('2014-10-02 00:00:00') 3193.4]
[Timestamp('2014-10-01 00:00:00') 3075.4]
[Timestamp('2014-09-30 00:00:00') 2847.6]
[Timestamp('2014-09-29 00:00:00') 2311.4]
[Timestamp('2014-09-28 00:00:00') 2327.3]
[Timestamp('2014-09-27 00:00:00') nan]
[Timestamp('2014-09-26 00:00:00') 2616.6]
[Timestamp('2014-09-25 00:00:00') 2620.2]
[Timestamp('2014-09-24 00:00:00') 2616.4]
[Timestamp('2014-09-23 00:00:00') 2655.8]
[Timestamp('2014-09-22 00:00:00') 2310.7]
[Timestamp('2014-09-21 00:00:00') 2935.8]
[Timestamp('2014-09-20 00:00:00') 3017.9]
[Timestamp('2014-09-19 00:00:00') 2625.5]
[Timestamp('2014-09-18 00:00:00') 2752.7]
[Timestamp('2014-09-17 00:00:00') 2181.5]
[Timestamp('2014-09-16 00:00:00') 2440.5]
[Timestamp('2014-09-15 00:00:00') 2422.8]
[Timestamp('2014-09-14 00:00:00') 2583.6]
[Timestamp('2014-09-13 00:00:00') 2728.9]
[Timestamp('2014-09-12 00:00:00') 2525.3]
[Timestamp('2014-09-11 00:00:00') 2531.7]
[Timestamp('2014-09-10 00:00:00') 2300.5]
[Timestamp('2014-09-09 00:00:00') 2097.5]
[Timestamp('2014-09-08 00:00:00') 4065.2]
[Timestamp('2014-09-07 00:00:00') 3555.2]
[Timestamp('2014-09-06 00:00:00') 3462.5]
[Timestamp('2014-09-05 00:00:00') 3033.1]
[Timestamp('2014-09-04 00:00:00') 2926.1]
[Timestamp('2014-09-03 00:00:00') 2431.4]
[Timestamp('2014-09-02 00:00:00') 2706.0]
[Timestamp('2014-09-01 00:00:00') 3049.9]
[Timestamp('2014-08-31 00:00:00') 3494.7]
[Timestamp('2014-08-30 00:00:00') 3691.9]
[Timestamp('2014-08-29 00:00:00') 2929.5]
[Timestamp('2014-08-28 00:00:00') 2760.6]
[Timestamp('2014-08-27 00:00:00') 2593.7]
[Timestamp('2014-08-26 00:00:00') 2884.4]
[Timestamp('2014-08-25 00:00:00') 2591.3]
[Timestamp('2014-08-24 00:00:00') 3022.6]
[Timestamp('2014-08-23 00:00:00') 3052.1]
[Timestamp('2014-08-22 00:00:00') 2789.2]
[Timestamp('2014-08-21 00:00:00') 2909.8]
[Timestamp('2014-08-20 00:00:00') 2326.8]
[Timestamp('2014-08-19 00:00:00') 2453.1]
[Timestamp('2014-08-18 00:00:00') 2351.2]
[Timestamp('2014-08-17 00:00:00') 3279.1]
[Timestamp('2014-08-16 00:00:00') 3381.9]
[Timestamp('2014-08-15 00:00:00') 2988.1]
[Timestamp('2014-08-14 00:00:00') 2577.7]
[Timestamp('2014-08-13 00:00:00') 2332.3]
[Timestamp('2014-08-12 00:00:00') 2518.6]
[Timestamp('2014-08-11 00:00:00') 2697.5]
[Timestamp('2014-08-10 00:00:00') 3244.7]
[Timestamp('2014-08-09 00:00:00') 3346.7]
[Timestamp('2014-08-08 00:00:00') 2900.6]
[Timestamp('2014-08-07 00:00:00') 2759.1]
[Timestamp('2014-08-06 00:00:00') 2915.8]
[Timestamp('2014-08-05 00:00:00') 2618.1]
[Timestamp('2014-08-04 00:00:00') 2993.0]
[Timestamp('2014-08-03 00:00:00') 3436.4]
[Timestamp('2014-08-02 00:00:00') 2261.7]

In [ ]:
data.to_excel(outputFile)  # 输出结果