In [4]:
import pandas as pd
inputFile = './chapter5/demo/data/consumption_data.xls'  # 销量及其他属性数据
outputFile = './data_type.xls'
data = pd.read_excel(inputFile,index_col='Id')
data.head()

     R   F        M
Id
1   27   6   232.61
2    3   5  1507.11
3    4  16   817.62
4    3  11   232.81
5   14   7  1913.05

In [7]:
k = 3  # 聚类类别数
iteration = 500  # 聚类最大循环次数
data_zs = 1.0 * (data - data.mean()) / data.std()  # 数据标准化（标准差标准化）
data_zs.head()

           R         F         M
Id
1   0.764186 -0.493579 -1.158711
2  -1.024757 -0.630079  0.622527
3  -0.950217  0.871423 -0.341103
4  -1.024757  0.188922 -1.158432
5  -0.204824 -0.357079  1.189868

In [8]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=k, n_jobs=2, max_iter=iteration)  # 分为 k 类， 并发数 2， 最大循环 500 次。
model.fit(data_zs)  # 开始聚类

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=500,
    n_clusters=3, n_init=10, n_jobs=2, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [37]:
# 简单打印结果
r1 = pd.Series(model.labels_).value_counts()  # 统计各个类别的数目
r2 = pd.DataFrame(model.cluster_centers_)  # 找出聚类中心
r = pd.concat([r2, r1], axis='columns')  # 横向连接，得到聚类中心对应的类别下的数目
r.columns = list(data.columns) + ['类别数目']  # 重命名表头
r

          R         F         M  类别数目
0 -0.149353 -0.658893 -0.271780   559
1  3.455055 -0.295654  0.449123    40
2 -0.160451  1.114802  0.392844   341

In [48]:
# 详细输出原始数据及其类别
r = pd.concat([data, pd.Series(model.labels_, index=data.index)], axis='columns')
r.columns = list(data.columns) + ['类别标签']
r.head()

     R   F        M  类别标签
Id
1   27   6   232.61     0
2    3   5  1507.11     0
3    4  16   817.62     2
4    3  11   232.81     0
5   14   7  1913.05     0

In [49]:
r.to_excel(outputFile)  # 保存结果